* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}


.container-principal{
    padding: 0 3vw 0 3vw;
    position: relative;
}

.marg-double{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
/*.search-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}*/

.seccionprods{
    position: relative;
}

.mainsearchbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 99;
}

.searchnode{
    width: 30%;
}

.btnsearch {
    width: 7%;
    height: 100%;
    border-style: none;
    background-color: #00A7E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texticon{
    display: flex;
    position: absolute;
    width: 20px;
    height: 16px;
    justify-content: center;
    flex-direction: column;
}

.fixuse{
    width: 100%;
    height: 100%;
}


.searchingholder {
    font-family: 'Roboto400';
    font-style: normal;
    font-size: 0.90em;
    color: #A9ABA9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

}

.iconcontainer{
    width: 20px;
    height: 21px;
    background-color: #e5e5e5;
    border-style: none;
}

.iconfilter{
    display: flex;
    width: 20px;
    height: 21px;
    justify-content: center;
    flex-direction: column;
    color: #A9A8A9;
}

.iconsearch{
    display: flex;
    width: 20px;
    height: 21px;
    justify-content: center;
    flex-direction: column;
}

.filterbuttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 5vw;
    margin-right: 3vw;
}

.filtrar{
    margin-right: 1vw;
    margin-left: 1vw;
}


.searchtitle{
    font-family: 'RobotoBlack';
    font-style: normal;
    font-size: 1.2em;
    color: #A9A8A9;
    line-height: 19px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}